.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.chart{
    width: 500px;
    height: 500px;
}

#welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: larger;
    background-color: pink;
    border-radius: 5px;
    width: 500px;
    height: 100px;
    color: rgb(242, 232, 232);
}